<?xml version="1.0"?>

<model>
    <name>Tower Flare</name>
    <version>1.0</version>
    <sdf version='1.5'>model.sdf</sdf>

    <author>
        <name>Jhonata Peixoto</name>
        <email>name@email.address</email>
    </author>

    <description>
        Torre criada com objetivo de sumular a inspenção com drones
    </description>
</model>